/* This is the styling file for this project which is created using CSS3 technology... */

@import url("https://fonts.googleapis.com/css2?family=Young+Serif&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #56a7f8;
  font-family: "Young serif";
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}
/* This is some genearl stylings written for the project... */

.kinetic {
  position: relative;
  height: 80px;
  width: 80px;
}
/* This is for the main container for kinetic loader... */

.kinetic::after,
.kinetic::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 0;
  border: 40px solid transparent;
  border-bottom-color: #fff;
  animation: rotateA 2s linear infinite 0.5s;
}
/* This is for creating and animating two small triangular containers in that parent container */


.kinetic::before {
  transform: rotate(90deg);
  animation: rotateB 2s linear infinite;
}
/* This is for second  triangle for rotating it 90degree and for giving it rotating effect with time*/

@keyframes rotateA {
  0%,
  25% {
    transform: rotate(0deg);
  }
  50%,
  75% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* This is the animation effect for the 1st triangle  to make  a  full  circle  when reach at 180 degree then again start from 0 degree */


@keyframes rotateB {
  0%,
  25% {
    transform: rotate(90deg);
  }
  50%,
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(450deg);
  }
}
/* This is the animation effect for the 2nd triangle  when it comes to its original position after completing a full circle rotation */
